body{
    background-color: pink;
}
h1{
    text-align: center;
    padding-bottom: 3%;
    font-size: 50px;
    color:rgb(250, 0, 254);
}
.text{
font-size: 30px;
width:60%;
height:450px;
border: 2px solid teal;
margin-left: 400px;
border-radius: 8px;
padding-bottom: 3%;
position: relative;
}
.tst{
    text-align: center;
}
#speed{
    margin-left: 700px;
    font-size: 30px;
    color: rgb(14, 10, 236);
}
#error{
    font-size: 30px;
    color: rgb(14, 193, 210);
}
#accuracy{
    font-size: 30px;
    color: red;
}
.button{
    width:130px;
    height:40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: black;
    color: rgb(0, 245, 33);
    cursor: pointer;
}
.button:hover{
    background-color: white;
}
.red{
    margin-left: 400px;
    font-size: 20px;
    color: rgb(106, 8, 225);
    margin-bottom: 0;
}
.tst{
    display: flex;
    gap:50px;
    padding-bottom: 20px;
}
.text::placeholder{
    position: fixed;
}